In [1]:
import pandas as pd
import numpy as np

In [3]:
strain = pd.read_csv("train_new1.csv")

In [4]:
strain.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,-0.582900,0.294811,-0.288634,-1.207754,2.088659,-0.875979,0.464452,-0.497802,-0.672278,-0.990983,0.0,0.0,1.000009,-0.084778,-0.187002,-0.134671
1,-0.183471,0.865558,-0.015147,0.886381,-0.389992,-0.875979,1.346819,0.079258,-0.157529,1.497390,0.0,0.0,-0.942941,-0.008344,-0.246716,-0.198218
2,-0.858047,-0.567461,-0.061485,-0.190753,-1.009654,-0.875979,1.346819,1.810438,0.614593,0.745091,0.0,0.0,0.028534,0.086075,-0.201831,-0.166624
3,0.306841,0.501839,-1.027639,1.732895,-0.389992,0.843281,-1.300282,-1.651922,-0.929652,-0.412292,0.0,0.0,0.352359,0.009641,-0.223427,-0.262483
4,-1.440231,-0.874052,1.380458,-0.360819,1.468996,-0.875979,1.346819,-0.497802,-1.187027,-0.065077,0.0,0.0,1.000009,-0.098266,2.725420,1.442339

In [5]:
strain = strain.values

In [6]:
stest = pd.read_csv("test_new1.csv")

In [7]:
stest.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,-1.199308,1.077950,-0.828422,-0.775691,-0.389992,1.530985,-1.300282,1.810438,-0.929652,1.439521,0.0,0.0,2.295308,-0.107259,-0.258758,-0.264817
1,-1.199308,1.029596,-0.828422,-0.775691,2.088659,1.530985,-1.300282,1.810438,-0.929652,1.439521,0.0,0.0,2.295308,-0.107259,-0.258758,-0.264817
2,-1.199308,1.264087,-0.828422,-0.775691,-1.009654,-0.875979,1.346819,1.810438,-0.929652,1.439521,0.0,0.0,2.295308,-0.107259,-0.258758,-0.264817
3,-1.199308,1.226581,-0.828422,-0.775691,-1.009654,1.187133,-1.300282,1.810438,-0.929652,1.439521,0.0,0.0,2.295308,-0.107259,-0.258758,-0.264817
4,-1.199308,-0.819168,-0.828422,-0.775691,1.468996,-0.188275,-0.417915,1.810438,-0.929652,1.439521,0.0,0.0,2.295308,-0.107259,-0.258758,-0.264817

In [8]:
stest=stest.values

In [9]:
from sklearn.decomposition import PCA,FastICA


pca = PCA(random_state=42)
strain_pca = pca.fit_transform(strain)
stest_pca = pca.transform(stest)

ica = FastICA(random_state=42)
strain_ica = ica.fit_transform(strain)
stest_ica = ica.transform(stest)

/home/anirudh/anaconda/lib/python2.7/site-packages/sklearn/decomposition/fastica_.py:116: UserWarning: FastICA did not converge. Consider increasing tolerance or the maximum number of iterations.
  warnings.warn('FastICA did not converge. Consider increasing '

In [10]:
strain_pca.shape

(12137810, 16)

In [11]:
strain.shape

(12137810, 16)

In [12]:
train = np.concatenate((strain,strain_pca), axis=1)

In [13]:
train.shape

(12137810, 32)

In [14]:
train = np.concatenate((train,strain_ica),axis=1)

In [15]:
train.shape

(12137810, 48)

In [16]:
train[1]

array([ -1.83471200e-01,   8.65557831e-01,  -1.51470080e-02,
         8.86380792e-01,  -3.89991507e-01,  -8.75978529e-01,
         1.34681942e+00,   7.92578398e-02,  -1.57529374e-01,
         1.49738969e+00,   0.00000000e+00,   0.00000000e+00,
        -9.42940636e-01,  -8.34359938e-03,  -2.46715617e-01,
        -1.98217744e-01,  -1.69217523e-01,  -1.57215880e+00,
        -5.96250599e-01,  -5.55122368e-01,  -1.23769934e+00,
        -1.17507047e+00,  -1.50908214e-01,  -5.67470447e-01,
        -6.64124049e-01,   2.22446477e-01,   6.64754531e-01,
         3.14647716e-01,   3.32999868e-01,  -3.05252187e-02,
         1.61753751e-17,   8.27812403e-18,  -1.65404129e-03,
         1.49872827e-03,   1.89254376e-03,  -1.99988822e-03,
        -1.55295104e-03,  -1.65678761e-03,   1.59668559e-03,
        -1.50963370e-03,  -3.93191378e-04,   1.82591460e-03,
         1.25105947e-03,   1.49913502e-03,   1.56665028e-03,
        -1.51939883e-03,  -1.49725734e-03,  -1.14872577e-03])

In [17]:
test = np.concatenate((stest,stest_pca), axis=1)
test = np.concatenate((test,stest_ica),axis=1)

In [18]:
test.shape

(3706907, 48)

In [19]:
stest.shape

(3706907, 16)

In [22]:
import gc
#del strain_pca
#del strain_ica
#del stest_pca
#del stest_ica
gc.collect()

0

In [23]:
del strain
del stest
gc.collect()

0

In [24]:
test[5]

array([ -1.19930848e+00,   9.80872386e-01,  -8.28422060e-01,
        -7.75691490e-01,  -3.89991507e-01,  -8.75978529e-01,
         4.64452304e-01,   1.81043761e+00,  -9.29652224e-01,
         1.43952056e+00,   0.00000000e+00,   0.00000000e+00,
         2.29530801e+00,  -1.07258527e-01,  -2.58757823e-01,
        -2.64816553e-01,   1.42512018e-01,  -9.99060592e-01,
         2.69147623e+00,  -7.31456398e-01,  -1.40069964e+00,
        -8.36826659e-01,  -1.81743317e-01,  -9.47094845e-01,
         4.67418278e-01,  -1.17548946e+00,  -1.31610732e+00,
         8.03718564e-01,  -2.93510712e-01,   2.22560620e-02,
         2.62174261e-17,   9.07860674e-17,  -2.32266922e-03,
         2.38329760e-03,   1.95547853e-03,  -2.41322784e-03,
        -2.28241093e-03,  -2.63457386e-03,   2.29889570e-03,
        -2.16036861e-03,  -4.81166756e-03,   1.09363177e-03,
         2.36002548e-03,   2.49228745e-03,   2.10024396e-03,
        -2.19552939e-03,  -2.05846020e-03,  -4.39196426e-03])

In [25]:
train_data = pd.DataFrame(data=train)
test_data = pd.DataFrame(data=test)

In [26]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12137810 entries, 0 to 12137809
Data columns (total 48 columns):
0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14    float64
15    float64
16    float64
17    float64
18    float64
19    float64
20    float64
21    float64
22    float64
23    float64
24    float64
25    float64
26    float64
27    float64
28    float64
29    float64
30    float64
31    float64
32    float64
33    float64
34    float64
35    float64
36    float64
37    float64
38    float64
39    float64
40    float64
41    float64
42    float64
43    float64
44    float64
45    float64
46    float64
47    float64
dtypes: float64(48)
memory usage: 4.3 GB

In [27]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3706907 entries, 0 to 3706906
Data columns (total 48 columns):
0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14    float64
15    float64
16    float64
17    float64
18    float64
19    float64
20    float64
21    float64
22    float64
23    float64
24    float64
25    float64
26    float64
27    float64
28    float64
29    float64
30    float64
31    float64
32    float64
33    float64
34    float64
35    float64
36    float64
37    float64
38    float64
39    float64
40    float64
41    float64
42    float64
43    float64
44    float64
45    float64
46    float64
47    float64
dtypes: float64(48)
memory usage: 1.3 GB

In [28]:
train_data.to_csv("PCA_ICA_TRAIN.csv",index=False)
test_data.to_csv("PCA_ICA_TEST.csv",index=False)

In [ ]:
train_ori = pd.read_csv('DATASET/train.csv')
test_ori = pd.read_csv('DATASET/test.csv')
from sklearn.model_selection import train_test_split
X_train, X_valid, Y_train, Y_valid = train_test_split(train, train_ori.click, test_size = 0.4, random_state=2017)

In [ ]:
print (X_train.shape)
print (X_valid.shape)
print (Y_train.shape)
print (Y_valid.shape)